<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>

<body>
<div class="fixed-nav-bar">
  <div class="logo" style="font-size: 50px"><span><a href="/home"
                                                     style="text-decoration: none; color: #ef853e">FURAMA</a></span>
    Resort
  </div>
  <input type="checkbox" id="menuButton"/>
  <label for="menuButton" class="menu-button-label">
    <div class="white-bar"></div>
    <div class="white-bar"></div>
    <div class="white-bar"></div>
    <div class="white-bar"></div>
  </label>
  <div class="logo" style="display: flex; margin-left: 700px">
    <div><a href="/employee" style="text-decoration: none; color: white">Facility</a></div>
    <div style="margin-left: 45px"><a href="/customer" style="text-decoration: none; color: white">Customer</a></div>
    <div style="margin-left: 45px"><a href="/contract" style="text-decoration: none; color: white">Contract</a></div>
  </div>
</div>
<div class="the-bass" style="text-align: center">
  <div class="rela-block drop-down-container">
    <div class="drop-down-item">
      <div><a href="/employee" style="text-decoration: none; color: white">Employee</a></div>
      <div><i class="fas fa-user-tie"></i></div>
    </div>
  </div>
  <div class="rela-block drop-down-container">
    <div class="drop-down-item">
      <div><a href="/customer" style="text-decoration: none; color: white">Customer</a></div>
      <div><i class="fas fa-users"></i></div>
    </div>
  </div>
  <div class="rela-block drop-down-container">
    <div class="drop-down-item">
      <div><a href="/facility" style="text-decoration: none; color: white">Facility</a></div>
      <div><i class="fas fa-tools"></i></div>
    </div>
  </div>
  <div class="rela-block drop-down-container">
    <div class="drop-down-item">
      <div><a href="/contract" style="text-decoration: none; color: white">Contract</a></div>
      <div><i class="fas fa-file-signature"></i></div>
    </div>
  </div>
</div>
<div class="rela-block deer-section"></div>
<div class="rela-block second-section cover-before">
  <div class="big-floaty-image">
    <!--        <p class="absolute-center-text">FURAMA RESORT</p>-->
  </div>
</div>
<div class="rela-block third-section cover-before">
  <p class="absolute-center-text">Tinh tế bản nguyên cuộc sống<br><br>Fantasticity!</p>
</div>
<div class="rela-block fourth-section">
  <p class="hover-pointer"></p>
  <div class="rela-block color-square-container">
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
    <div class="color-changing-square"></div>
  </div>
  <div class="rela-block big-back-text-container">
    <h1 class="big-back-text">FURAMA RESORT</h1>
  </div>
</div>
<div class="rela-block footer">
  <div class="rela-block social-buttons-container">
    <div class="social-button facebook-button"></div>
    <div class="social-button insta-button"></div>
    <div class="social-button twitter-button"></div>
    <div class="social-button pinterest-button"></div>
  </div>
  <div class="rela-block footer-links-container">
    <div class="footer-flex-column">
      <ul> Projects
        <li>Chillwave</li>
        <li>Gluten-free</li>
        <li>Kitsch Cardigan</li>
      </ul>
    </div>
    <div class="footer-flex-column">
      <ul> About us
        <li>Fingerstache</li>
        <li>Lumbersexual</li>
        <li>Lo-Fi Aesthitic</li>
      </ul>
    </div>
    <div class="footer-flex-column">
      <ul> Community
        <li>Kale Chips</li>
        <li>Church Key</li>
        <li>Longboarding</li>
      </ul>
    </div>
    <div class="footer-flex-column">
      <ul> Connect
        <li>Pinterest</li>
        <li>Etsy</li>
        <li>Blog Swag</li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {

    // Function to change the nav-bar on scroll
    $(window).scroll(function () {
      ($(window).scrollTop() >= 100) ? (
        $('.fixed-nav-bar').addClass('scrolled'),
          $('.the-bass').addClass('scrolled')
      ) : (
        $('.fixed-nav-bar').removeClass('scrolled'),
          $('.the-bass').removeClass('scrolled')
      );
    });

    // Drop Down Function
    $('#menuButton').on('change', function () {
      ($('#menuButton').is(':checked')) ? (
        $('.the-bass').addClass('dropped')
      ) : (
        $('.the-bass').removeClass('dropped')
      );
    });

  });
</script>
