<h2 style="background-color: #e8eff6; text-align: center; margin-top: 10px">CUSTOMER LIST</h2>
<table  class="table table-success table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
    <th colspan="2" scope="col" style="text-align: center">Action</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>
      <button type="button" class="btn btn-light">Light</button>
<!--      <button style="padding: 0" type="button" class="btn btn-outline-light btn-rounded">-->
<!--        <a [routerLink]="['/customer/edit', customerObj.id]"><i style="font-size: x-large; color: #10d4ee" class="fas fa-user-edit"></i></a>-->
<!--      </button>-->
    </td>
    <td>
      <button type="button" class="btn btn-light">Light</button>
    </td>
  </tr>
  </tbody>
</table>
